.tdeath{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
/* identical to box height */
color: #000000;

}
.text{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
}  

.footer{
position: absolute;
width: 100%;
height: 100px;
left: 0px;


background: #001F3A;
}
@media only screen and (max-width:900px){
.g{
    color: #ffd2d2a2;
}
}