.tdeath{

font-style: normal;
font-weight: bold;
font-size: 22px;
/* identical to box height */
color: #000000;

}
.text{
    text-align: center;
   
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
}  

.footer{
position: absolute;
width: 100%;
height: 100px;
left: 0px;
background: #001F3A;
}
.liveUpdates{
    display: flex;
    justify-content: center;
    

}
.Status{
    text-align: center;
    display: flex;  
   justify-content: center;
   flex-direction: column;
   margin: 0 5%;
}

@media only screen and (max-width:900px){
.g{
    color: #ffd2d2a2;
}
}