body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'arch';
  src: url('Components/Media/arch/archia-regular-webfont.eot');
  src: url('Components/Media/arch/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Components/Media/arch/archia-regular-webfont.woff2') format('woff2'),
       url('Components/Media/arch/archia-regular-webfont.woff') format('woff'),
       url('Components/Media/arch/archia-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}